.login_1 div{
	font-size:20px;
}

.social{
	height:300px;
	background-image:linear-gradient(to top,#0ab5cc,white);
}

.link1{
	height:35px;
	width:35px;
	background-image:url("./images/gmail.png");
	float:left;
	margin-left:650px;
}

.link2{
	height:35px;
	width:35px;
	background-image:url("./images/facebook.jpg");
	float:left;
	margin-left:20px;
}


.link3{
	height:35px;
	width:35px;
	background-image:url("./images/twitter.png");
	float:left;
		margin-left:70px;
}


.link4{
	height:35px;
	width:35px;
	background-image:url("./images/insta.jpg");
		margin-left:50px;
}

footer p{
	color:#0b1111;
	font-size:25px;
	font-family:Comic Sans MS;
}